*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
}

header{
    width: 50%;
    height: 100vh;
    /* background-color: #350058; */
    background-image: linear-gradient(to left, #00124e, #350058);
    display: flex;
    justify-content: center;
    align-items: center;
}

header p{
    transform: rotate(-45deg);
    font-family: 'VT323', Arial, monospace;
    font-size: 5em;
    color: white;
    
}

main{
    width: 50%;
    background-image: linear-gradient(to right, #00124e, #350058);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main div#sanduiche{
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main div#sanduiche img{
    height: 25px;
    width: 30px;
}

main div.menu-sanduiche{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 0px 10px;
    width: 300px;
    height: 100vh;
    overflow-y: scroll;
    position: absolute;
    right: 0px;
    display: none;

}

div.menu-sanduiche a{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 4px;
    background-color: #1f031f;
    border-radius: 20px;
}

main img.logo-site{
    height: 160px;
    width: 200px;
    border-radius: 48%;
    border: 5px inset #800080;
    /* margin:-50px 0px 50px 0px; */
}

main form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 350px;
    background-image: url('Imagens/kon-hand.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: rgb(51, 51, 51);
    border-radius: 10px;
}

main input{
    margin: 5px 0px 5px 0px;
    border: none;
}

#login, #senha{
    padding: 10px 15px;
    font-size: 1.4em;
    border-radius: 17px;
    font-family: 'VT323', monospace;
    background-color: #1f031f;
    color: #ffffff;
}

#botao{
    margin-top: 90px;
    background: none;
    font-family: 'VT323', monospace;
    font-size: 1.2em;
    color: #ffffff;
    padding: 10px;
    width: 81px;
    height: 60px;
    border-radius: 50%;
    background-color: #1f031fb4;
    cursor: pointer;
}

#botao:hover, #botao:focus  {
    background-color: #290529;
    border: 1px solid #ffffff;
}